/* RESPOSIVE */
@media only screen and (max-width:1230px){
.blogs__container {
    display: grid;
    row-gap: 40px;
    column-gap: 10px;
    grid-template-areas: 
    ". ."
    ". ."
    ". .";
    }
.furneture__cards{
    grid-template-columns: 100%;
}
.furneture__card-container{
    width: 100%;
    text-align: center;
}
.furneture-card{
    /* max-width: 590px; */
    margin: 0 auto;
}
}
@media only screen and (max-width:991px){
  .container{
    width: 95%;
  }
  .site-header{
      
      z-index: 3;
  }
  label #btn{
    display: block;
    }
  .nav__list{
    display: flex;
    justify-content: start;
    position: fixed;
    width: 100% ;
    height: 100vh;
    background-color: #34495e;
    top: 106px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    flex-direction: column;
    z-index: 3;
    }
     .nav__item{
        display: block;
        margin: 20px 0;
        line-height: 10px;
        text-align: center;
        line-height: 50px;
        font-size: 50px;
        color: #fff;
    }
    .nav__item:not(:last-child) {
        margin-right: 0px;
    }
    .nav__link{
        color: #fff;
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
     #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~label #cencel{
        display: block;
    }
    #check:checked ~ label #btn{
        display: none;
    }
  
.main__top {
    height: 731px;
    background-size: 100% 90%;
  }
.main__title {
  padding-top: 108px;
  font-size: 70px;
  line-height: 96px;
  letter-spacing: 0.22px;
  color: #292f36;
  width: 595px;
}
.section-instruction {
  margin-top: 15px;
}
.instruction__list{
  flex-wrap: wrap;
  text-align: center;
}
.design-container{
  flex-direction: column;
  text-align: center;
}
.design__img{
  display: none;
}
.design__phone{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.design__text{
  
  width: 100%;
  text-align: center;
}
.feedback__list{
  flex-wrap: wrap;

}
.feedback__item{
  margin-bottom: 20px;
}
.furneture__main-text {
  width: 80%;
  text-align: center;
}
.furneture__cards{
  grid-template-columns: 100%;
}

.furneture__card-container{
    width: 100%;
    text-align: center;
}
.furneture-card{
    /* max-width: 590px; */
    margin: 0 auto;
}
 
.footer-top {
  display: grid;
  grid-template-columns: 2fr  1.5fr;
}
.footer-top div{
    padding-bottom: 40px;
}
}
@media only screen and (max-width:576px){
    .main__top{
      height: 500px;
    }
    .main__title{
      font-size: 45px;
      padding-top: 140px;
      line-height: 50px;
      letter-spacing: 0.15px;
      width: 350px;
    }
    .main__text{
      font-size: 17px;
      letter-spacing: 0.15px;
      line-height: 20px;
      margin-bottom: 45px;
    }
    .main-link {

  font-size: 14px;
  letter-spacing: 0.50px;
  padding: 16px 28px;
  border-radius: 15px;
  margin-left: 40px;
}
    .section-instruction{
      margin-top: 0px;
      text-align: center;
    }
    .instruction__list{
      flex-direction: column;
      text-align: center;
    }
    .instruction__item{
      margin: 0 auto;
    }
    .instruction__title{
      font-size: 20px;
      letter-spacing: 0.15px;
      margin-bottom: 14px;
    }
    .instruction__text{
      font-size: 17px;
      letter-spacing: 0.15px;
      line-height: 20px;
    }
    .instruction__link{
      font-size: 15px;
      letter-spacing: 0.22px;
    }
    .section-designs{
      margin-top: 70px;
    }
    .design__title{
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 0.15px;
      margin: 30px;
    }
    .design__phone-number{
      font-size: 18px;
    }
    .design__link{
      padding: 15px 24px;
    }
    .design__text{
      font-size: 18px;
      letter-spacing: 0.15px;
      line-height: 25px;
    }
    .section-feedback{
      margin-top: 80px;
      padding: 0 30px;
      border-radius: 50px;
    }
    .feedback__title{
      font-size: 30px;
      line-height: 38px;
      letter-spacing: 0.15px;
      margin-bottom: 35px;
      padding-top: 50px;
    }
    .feedback__list{
     padding:0px 0px 80px 0px;
     text-align: center;
    }
    .feedback__item{
      margin: 20px auto;
      padding: 25px;
    }
    .feedback__name{
      font-size: 21px;
    }
    .feedback__location{
      font-size: 14px;
    }
    .feedback__text{
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.15px;
    }

    .section-furneture{
        margin-top: 50px;
    }
    
    .furneture__main-title{
        font-size: 37px;
    }
    .furneture__img{
      width: 300px;
      height: 300px;
      border-radius: 0px 60px 0px 0px;
    }
    .furneture-card{
      width: 300px;
    }
    .furneture__title{
      font-size: 20px;
      letter-spacing: 0.15px;
      margin-top: 18px;
    }
    .furneture__text{
      font-size: 16px;
      letter-spacing: 0.15px;
      margin: 7px 0px 45px 0px;
    }
    .section-result{
        margin-top: 80px;
    }
    .result__list{
        padding: 50px 0;
    }
    .result__item h2{
        font-size: 30px;
        letter-spacing: 0.7px;
        line-height: 80px;
    }
    .result__item p{
        font-size: 12px;
        letter-spacing: 0.7px;
    }
    .linear {
        display: none;
    }
    .section-blogs{
        margin: 0px;
    }
    .blogs__title {
        text-align: center;
        font-size: 38px;
        letter-spacing: 0.22px;
        color: #292f36;
    }
    .blogs__text{
        font-size: 18px;
        width: 300px;
    }
    .blogs__container {
        display: grid;
        row-gap: 20px;
        grid-template-areas: 
        ". "
        ". "
        ". ";
    }
    .blogs__card {
        border: 1px solid #E7E7E7;
        border-radius: 42px;
        padding: 17px;
        width: 287px;
        height: 380px;
        margin: 0 auto;
    }
    .blogs__card img{
        width: 245px;
        height: 200px;
    }
    .blogs__card-title {
        font-size: 20px;
        letter-spacing: 0.5px;
        line-height: 25px;
    }
    .section-contact{
      margin-top: 80px;
      border-radius: 50px;
      height: 314px;
    }
    .contact__title{
      padding-top: 70px;
      font-size: 35px;
      letter-spacing: 0.15px;
    }
    .contact__text{
      font-size: 18px;
      letter-spacing: 0.15px;
      padding: 7px 0px 0px 0px;
      margin: 0px 0px 20px 0px;
    }
    .fa-solid{
      padding-left: 10px;
    }
    .contact__link{
      margin: 25px ;
      padding: 17px 26px;
      font-size: 15px;
      border-radius: 15px;
      letter-spacing: 0.15px;
      line-height: 20px;
    }
    .logo__text{
      font-size: 18px;
      width: 200px;
      letter-spacing: 0.15px;
      line-height: 20px;
    }
    .social__list {
      width: 180px;
    }
    .pages__title{
      font-size: 22px;
      margin-bottom: 18px;
      margin-top: 15px;
    }
    .pages__item:not(:last-child){
       margin-bottom: 20px;
    }   
    .pages__link {
      font-size: 18px;
    }
    .explore__title {
      margin: 0;
      padding: 0;
      font-size: 22px;
      color: #292f36;
      margin-bottom: 18px;
    }
    .explore__item:not(:last-child) {
      margin-bottom: 20px;
    }
    .explore__link {

      font-size: 18px;
}
.footer__contact-title {
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #292f36;
  margin-bottom: 18px;
}
    .footer__adress {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.15px;
}
    .footer__email {
  display: block;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #4d5053;
  text-decoration: none;
  margin-bottom: 20px;
}
.footer__number {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.15px;
}
.footer__bottom{
  margin-top: 70px;
  padding: 25px;
  text-align: center;
  border-top: 0.5px solid #909295;
}
.footer__bottom-text{
  font-size: 18px;
  letter-spacing: 0.15px;
  
}
}
@media only screen and (max-width:417px){
  .container{
    width: 90%;
  }
  .site__link img{
    width: 150px;
    height: 35px;
  }
  .site-header{
    padding: 0 30px;
  }
 label #btn, label #cencel{
    font-size: 20px;
    height: 20px;
  }
 .main__top{
  padding-top: 100px;
  height: 400px;
 }
  
    .main__title {
  padding-top: 20px;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.10px;
  width: 200px;
}
   .main__text{
      font-size: 14px;
      letter-spacing: 0.10px;
      line-height: 17px;
      margin-bottom: 30px;
    }
    
   
    
    .instruction__title{
      font-size: 18px;
    }
    .instruction__text{
      font-size: 15px;
      letter-spacing: 0.15px;
      line-height: 20px;
      text-align: center;
    }
    .instruction__link{
      font-size: 15px;
      letter-spacing: 0.22px;
    }

.design__title {
  font-size: 20px;
  line-height: 20px;
  margin: 22px;
}
.section-designs{
      margin-top: 30px;
    }
   .design__phone-btn img{
    width: 70px;
    height: 70px;
   }
    .design__phone-number{
      font-size: 14px;
    }
    .design__link{
      padding: 12px 20px;
      font-size: 15px;
      border-radius: 15px;
    }
    .design__text{
      font-size: 14px;
      letter-spacing: 0.11px;
      line-height: 20px;
    }
    .section-feedback{
      margin-top: 50px;
      padding: 0 20px;
      border-radius: 40px;
    }
    .feedback__title{
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 0.11px;
      margin-bottom: 25px;
      padding-top: 36px;
    }
    .feedback__list{
     padding:0px 0px 40px 0px;
    }
    .feedback__item{
      margin: 15px auto;
      padding: 20px;
    }
    .feedback__name{
      font-size: 17px;
    }
    .feedback__location{
      font-size: 12px;
    }
    .feedback__text{
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.1px;
    }
    .section-furneture{
        margin-top: 40px;
    }
    
    .furneture__main-title{
        font-size: 22px;
    }
    .furneture__main-text{
      font-size: 16px;
    }

    .furneture__img{
      width: 250px;
      height: 250px;
      border-radius: 0px 40px 0px 0px;
    }
    .furneture-card{
      width: 250px;
    }
    .furneture__title{
      font-size: 17px;
      letter-spacing: 0.10px;
      margin-top: 14px;
    }
    .furneture__text{
      font-size: 14px;
      letter-spacing: 0.1px;
      margin: 5px 0px 30px 0px;
    }
    .section-result{
        margin-top: 50px;
    }
    .result__list{
        padding: 35px 0;
    }
    .result__item h2{
        font-size: 25px;
        line-height: 60px;
    }
    .result__item p{
        font-size: 10px;
        letter-spacing: 0.5px;
    }
    
    .blogs__title {
        font-size: 25px;
        letter-spacing: 0.15px;
    }
    .blogs__text{
        font-size: 16px;
        width: 280px;
    }
  
    .blogs__card {
        border-radius: 35px;
        padding: 13px;
        width: 245px;
        height: 340px;
    }
    .blogs__card img{
        width: 217px;
        height: 200px;
    }
    .blogs__img-text{
      bottom: 40px;
      margin-left: 18px;
      padding:5px 8px;
      border-radius: 8px;
      font-size: 12px;
    }
    .blogs__card-title {
        font-size: 15px;
        letter-spacing: 0.1px;
        line-height: 18px;
    }
    .blogs__date{
      font-size: 13px;
    }
     .section-contact{
      margin-top: 40px;
      border-radius: 30px;
      height: 250px;
    }
    .contact__title{
      padding-top: 40px;
      font-size: 25px;
      letter-spacing: 0.1px;
    }
    .contact__text{
      font-size: 14px;
      letter-spacing: 0.1px;
      padding: 5px 0px 0px 0px;
      margin: 0px 0px 20px 0px;
    }
    .fa-solid{
      padding-left: 5px;
    }
    .contact__link{
      padding: 12px 18px;
      font-size: 15px;
      border-radius: 15px;
      letter-spacing: 0.1px;
      line-height: 20px;
    }
    .footer-top {
      grid-template-columns: 100%;
}
     
}